@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Average");
@-ms-viewport {
  width: device-width;
}

::-moz-selection {
  background: #81CFE0;
}

::selection {
  background: #81CFE0;
}

::-moz-selection {
  background: #81CFE0;
}

html {
  background: #EEEEEE;
  height: 100%;
}

.body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Jost', sans-serif;
  color: #333333;
  background-size: cover;
  text-shadow: #EEEEEE 0px 0px 5px;
}

.body a {
  text-decoration: none;
}

.container {
  display: block;
  position: relative;
  padding: 40px 40px;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100vh;
  -webkit-transition: background 0.25s ease;
  transition: background 0.25s ease;
  background: rgba(255, 255, 255, 0.95);
}

@media (max-width: 800px) {
  .container {
    padding: 20px 20px;
  }
}

.container .heading {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  color: #333333;
}

.container .heading > a {
  color: #333333;
}

.container .heading > a:hover {
  color: #707070;
}

.container .ipa {
  display: inline-block;
  font-family: sans-serif;
  font-size: 2rem;
  font-weight: 200;
}

.container .text {
  display: block;
  margin: 1rem 0 0 0;
  font-size: 1.5rem;
  font-weight: 400;
}

.container a {
  color: #009688;
}

.container a:hover {
  color: #00796B;
}

.nav {
  display: inline-block;
}

.nav .link {
  display: inline-block;
  margin: 0 0.5rem 0 0;
  font-size: 1.15rem;
  color: #009688;
  padding-bottom: 1px;
}

.nav .link:hover {
  color: #009688;
  opacity: 1rem !important;
  padding-bottom: 0px;
  border-bottom: solid 1px #00796B;
}

.nav .link.nav-link-active {
  color: #009688;
  padding-bottom: 0px;
  border-bottom: solid 1px #00796B;
}

.nav .link.hidden {
  color: #9A9A9A;
}

.nav .link.hidden:hover {
  border: none;
}

#nav {
  margin: 1rem 0 0 0;
}

#nav-s .link {
  font-size: 0.9rem;
  opacity: 0.5;
}

#nav-s .link:hover {
  opacity: 1;
  border: none;
}

.content {
  position: relative;
  margin-top: 1.5rem;
  width: 42%;
}

@media (max-width: 1024px) {
  .content {
    width: 60%;
  }
}

@media (max-width: 800px) {
  .content {
    width: 100%;
  }
}

@media (min-width: 1920px) {
  .content {
    width: 35%;
  }
}

.content:hover .subsection {
  opacity: 0.25;
}

.content.content-words .subsection {
  padding: 1rem 0 1.25rem 0;
}

.content.content-words .subsection:first-child {
  padding: 0 0 1.25rem 0;
}

.content.content-words .subsection:hover .title {
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.content.content-words .subsection:hover .date {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0;
}

.content.content-words .subsection:hover .desc {
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
}

.content .text {
  font-size: 1.25rem;
  color: #333333;
}

.content .subsection {
  display: block;
  margin: 0;
  padding: 0 0 1.25rem 0;
  font-size: 1rem;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  color: #333333;
}

.content .subsection:hover {
  color: #333333;
  opacity: 1.0 !important;
}

.content .subsection:hover .hover {
  opacity: 1.0;
}

.content .subsection .title, .content .subsection .desc, .content .subsection .date {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.content .subsection .title {
  margin: 0;
  font-size: 1.15rem;
  font-weight: 500;
}

.content .subsection .desc {
  margin: 0.5rem 0 0 0;
}

.content .subsection .subdesc {
  margin: 0 0 0.25rem 0;
}

.content .subsection .date {
  margin: 0;
  opacity: 0.7;
  color: #006054;
}

.content .subsection .hover {
  opacity: 0;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  font-style: italic;
  color: #DDDDDD;
}

.content .section {
  font-size: 2rem;
  font-weight: 400;
  -webkit-text-stroke: 1px #333333;
  -webkit-text-fill-color: #EEEEEE;
}
/*# sourceMappingURL=main.css.map */