@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Average')
@import _settings
    
html
    background: $white
    height: 100%

.body
    min-height: 100vh
    width: 100%
    font-family: 'Jost', sans-serif
    color: $black
    background-size: cover
    text-shadow: $white 0px 0px 5px

    a
        text-decoration: none

.container
    display: block
    position: relative
    padding: 40px 40px
    margin: 0
    box-sizing: border-box
    min-height: 100vh
    transition: background 0.25s ease
    background: rgba(255, 255, 255, 0.95)
    @media(max-width: 800px)
        padding: 20px 20px

    .heading
        margin: 0
        font-size: 3rem
        font-weight: 400
        color: $black

        > a
            color: $black
            &:hover
                color: $grey_d
    
    .ipa
        display: inline-block
        font-family: sans-serif
        font-size: 2rem
        font-weight: 200
    
    .text
        display: block
        margin: 1rem 0 0 0 
        font-size: 1.5rem
        font-weight: 400

    a
        color: $green
        &:hover
            color: $green_d

.nav
    display: inline-block
    .link
        display: inline-block
        margin: 0 0.5rem 0 0 
        font-size: 1.15rem
        color: $green
        padding-bottom: 1px
        &:hover
            color: $green
            opacity: 1rem !important
            padding-bottom: 0px
            border-bottom: solid 1px $green_d
        &.nav-link-active
            color: $green
            padding-bottom: 0px
            border-bottom: solid 1px $green_d
        &.hidden
            color: $grey
            &:hover
                border: none 

#nav
    margin: 1rem 0 0 0 

#nav-s
    .link
        font-size: 0.9rem
        opacity: 0.5
        &:hover
            opacity: 1
            border: none

.content
    position: relative
    margin-top: 1.5rem
    width: 42%
    @media(max-width: 1024px)
        width: 60%
    @media(max-width: 800px)
        width: 100%
    @media(min-width: 1920px)
        width: 35%
    &:hover
        .subsection
            opacity: 0.25
    &.content-words
        .subsection
            padding: 1rem 0 1.25rem 0 
            &:first-child
                padding: 0 0 1.25rem 0 
            &:hover
                .title
                    transform: translateY(50%)
                .date
                    transform: translateY(-50%)
                    opacity: 0
                .desc
                    transform: translateY(-0.5rem)

    .text
        font-size: 1.25rem
        color: $black
        
    .subsection
        display: block
        margin: 0
        padding: 0 0 1.25rem 0
        font-size: 1rem
        transition: all 0.25s ease
        color: $black
        &:hover 
            color: $black
            opacity: 1.0 !important
            .hover
                opacity: 1.0

        .title, .desc, .date
            transition: all 0.25s ease
        
        .title
            margin: 0
            font-size: 1.15rem
            font-weight: 500

        .desc
            margin: 0.5rem 0 0 0 
        
        .subdesc
            margin: 0 0 0.25rem 0
        
        .date
            margin: 0
            opacity: 0.7
            color: darken($green_d, 5%)

        .hover
            opacity: 0
            transition: opacity 0.25s ease
            font-style: italic
            color: $white_d

    .section
        font-size: 2rem
        font-weight: 400
        -webkit-text-stroke: 1px $black
        -webkit-text-fill-color: $white