@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Average')
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;300&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Amiri&display=swap')
@import _settings
    
html
    background: black
    height: 100%

body
    width: 100%
    background: black
    color: white
    overflow-x: hidden

a
    text-decoration: underline
    color: #aaa

    &:hover 
        color: white

.revolution
    margin: 3rem 0 0 0
    color: #333

.light-text
    color: #ddd

.container
    width: 100%

.nav
    display: block
    position: fixed
    padding: 1rem 
    height: 100%
    font-family: 'Work Sans', sans-serif
    
    .emblem
        text-align: center
        color: #ccc
        text-decoration: none

    .title
        margin: 5rem 0 
        writing-mode: vertical-lr
        text-orientation: sideways
        font-weight: 300
    
        h1
            margin: 0
            font-size: 1rem

    .nav-item
        display: block
        margin: 2rem 0
        writing-mode: vertical-lr
        text-orientation: sideways
        text-decoration: none
        text-transform: lowercase
        font-weight: 100
        color: #aaa
    
        &:hover
            color: white
    
        &.active
            color: white
    
.content
    width: auto
    padding: 5.5rem 10rem
    font-family: 'Work Sans', sans-serif
    
    @media(max-width: 800px)
        padding: 5.5rem 7rem

    @media(max-width: 600px)
        padding: 5.5rem 2rem 2rem 4rem

    p
        width: 50%
        font-size: 1.25rem

        @media(max-width: 1200px)
            width: 75%

        @media(max-width: 800px)
            width: 100%


    .about-link
        display: inline-block
        margin: 3rem 2rem 0 0 
        font-size: 1rem
        text-decoration: none
        color: $em

        @media(max-width: 800px)
            margin: 3rem 0.5rem 0 0 

    .work-link
        display: inline-block
        margin: 0 1rem 0 0 
        font-size: 1rem
        text-decoration: none

        @media(max-width: 800px)
            margin: 0 0.5rem 0 0 
    
    .section

        h2,h3
            font-weight: 100

        h2
            font-size: 3rem
            margin: 3rem 0 2rem 0 
            &.small-margin
                margin: 0rem 0 2rem 0

        h3
            font-size: 1.25 rem
            margin: 1rem 0 1rem 0 
    
        .subsection
            text-decoration: none
            color: white
            display: block
            width: 50%
            margin: 0 0 2rem 0

            @media(max-width: 1200px)
                width: 75%

            @media(max-width: 800px)
                width: 100%

            .title
                margin: 0
                font-size: 1.15rem
                transition: all 0.25s ease

            .date
                margin: 0.15rem 0 0 0
                font-size: 1rem
                color: $em
                transition: all 0.25s ease
                opacity: 0.8

            .desc
                font-size: 1rem
                margin: 0.25rem 0 1rem 0
                width: 100%
                transition: all 0.25s ease
                color: #bbb
                opacity: 0.8
                
            &:hover
                .title
                    transform: translateY(0.75rem)
                .date
                    transform: translateY(-0.5rem)
                    opacity: 0
                .desc
                    transform: translateY(-0.75rem)
                    opacity: 1.0

    .grid
        display: grid
        grid-gap: 0.75rem
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))

        @media(max-width: 1000px)
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr))
    
        .grid-item
            display: block
            position: relative
            height: 360px
            background: $em
            writing-mode: vertical-rl
            text-orientation: sideways
            text-decoration: none
            color: white
            object-fit: cover

            .info 
                display: block
                position: absolute
                padding: 1rem
    
            .title 
                margin: 0
            
            .desc
                margin: 0
                font-weight: 100
                width: auto

            .desc-long
                margin: 1rem 4rem 0 1rem
                font-weight: 300
                opacity: 0
                display: none

                a
                    text-decoration: none
                    display: inline
                    position: relative                    

            img
                width: 100%
                height: 100%
                object-fit: cover
                opacity: 0.15
                filter: grayscale(100%)

            &:hover 
                writing-mode: horizontal-tb
                
                .desc, .title
                    opacity: 0
                    display: none
                    
                .desc-long
                    display: block
                    opacity: 1
            
            @media(max-width: 1000px)
                height: 240px

                .title
                    font-size: 1.25rem
                
                .desc
                    font-size: 1rem

                .desc-long
                    margin: 0
                    
                    